<!DOCTYPE html>
<html>
<head>
<title>Edit Task</title>
</head>

<body>

<h2>Edit Task</h2>

<form action="/update/{{task[0]}}" method="POST">

Title:
<input type="text" name="title" value="{{task[1]}}"><br><br>

Description:
<input type="text" name="description" value="{{task[2]}}"><br><br>

Due Date:
<input type="date" name="duedate" value="{{task[3]}}"><br><br>

Status:
<select name="status">
<option>Pending</option>
<option>Completed</option>
</select><br><br>

<button type="submit">Update Task</button>

</form>

</body>
</html>